name: Post Deployment Tests Lambda Monorepo 

on:
  workflow_call:
    inputs:
      environment:
        description: 'Environment'
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  trigger_smoke_test:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest

    steps:
      - name: Get Commit and PR Info
        id: context_info
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          script: |
            const isPR = context.eventName === "pull_request";
            const author =
            context.actor ||
            (await github.rest.repos
              .getCommit({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: context.sha,
              }))
              .data.author?.login ||
            (await github.rest.repos
              .getCommit({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: context.sha,
              }))
              .data.commit.author.name;
            core.setOutput("commit_sha", context.sha);
            core.setOutput("repository", `${context.repo.owner}/${context.repo.repo}`);
            core.setOutput("actor", author);
            core.setOutput("branch_ref", context.ref)
            core.setOutput("pr_number", isPR ? context.payload.pull_request.number.toString() : "");
